coverage
ddt
edx-lint==0.4.0
git+https://github.com/cpennington/hypothesis-python@fast-integers#egg=hypothesis
mock
nose
pep8
sphinx
pytest
pytest-cov
pytest-pep8
pytest-pylint
pytest-xdist
singledispatch
tox
